body {
  background: #979C9C;
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

header {
  background: #962D3E;
  height: 100px;
  width: 100%;
  margin: 0;
  margin-top: 50px; }

h1 {
  color: #343642;
  font-size: 64px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.home {
  width: 100%; }

.third {
  width: 33%;
  display: inline-block; }

.image-wrap {
  border: 2px solid #F2EBC7;
  width: 80%; }

.image-wrap img {
  width: 100%; }

aside {
  width: 25%;
  background: #962D3E;
  display: inline-block;
  float: left; }

.vertical-nav li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #343642; }

.half {
  width: 30%;
  display: inline-block;
  float: right; }

h2 {
  color: #962D3E;
  font-size: 42px;
  text-align: center; }

nav {
  display: block; }

nav li {
  padding: 15px; }

nav a {
  padding: 5px; }

nav a:hover {
  border: 2px solid #F2EBC7; }

.activeNav a {
  border: 2px solid #F2EBC7; }

.ind-photo-background {
  background: #8C7E72;
  height: 650px;
  width: 100%;
  margin-bottom: 85px;
  margin-top: 85px; }
  .ind-photo-background img {
    width: 35%; }

article, .home, aside {
  display: none; }

.active {
  display: block; }
